# Example of .env file
# Please rename this file to .env and fill in the placeholders.

# API keys
API_KEY_YOUTUBE="YOUR-API-KEY"  # Get API key from https://console.cloud.google.com For details see https://developers.google.com/youtube/registering_an_application
